# Image Processing Server Environment Variables
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
CONVERT_API_SECRET=your-convert-api-secret
NUM_PROCESSES=4
EFS_MOUNT_PATH=/app/src/
SQS_QUEUE_URL=

# Redis Configuration
USE_REDIS=true
USE_MINIO=false
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=9
REDIS_PASSWORD=
REDIS_QUEUE_NAME=task_queue

# S3 Configuration
AWS_S3_ENDPOINT_URL=